################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LB1/.vs/LB1/FileContentIndex/339fbf52-0e4a-43e3-9e29-432a073e4cd8.vsidx
